.showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 30rem;
  flex-direction: column;
  margin: 0.5rem;

  .showcase-header {
    font-weight: 900;
    flex-wrap: wrap;
    padding: 1rem;
    font-size: 4.3rem;
    margin-bottom: 0.5rem; /* Yazılar ile logonun arasında boşluk bırakır */
  }

  .showcase-logo {
    max-width: 500px; /* Logonun maksimum genişliğini artırdık */
    height: auto; /* Yüksekliği otomatik ayarlama */
    margin-bottom: 1rem; /* Logo ile yazılar arasına boşluk ekledik */
  }

  h2 {
    font-size: 1.5rem; /* Yazının boyutunu artırdık */
    font-weight: normal;
    margin: 0.2rem 0; /* Yazılar arasındaki boşluğu ayarladık */
  }

  p {
    font-size: 0.9rem; /* Paragraf yazısının boyutunu ayarlayın */
    margin: 0.5rem 0; /* Paragraf ile diğer öğeler arasındaki boşluğu ayarlayın */
  }

  .showcase-btn {
    font-size: 1.3rem;
    margin: 2rem;
  }

  @media screen and (max-width: 260px) {
    flex-direction: row; /* Küçük ekranlar için yönü değiştirir */
  }
}
